/* Grundlegende Reset-Einstellungen */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Header Styling */
header {
    display: flex;
    align-items: center;
    background-color: #002060;
    padding: 10px 20px;
}

/* Logo Styling */
.logo img {
    height: 40px; /* Größe des Logos */
    margin-right: 20px; /* Abstand zum nächsten Element */
}

/* Navigation Styling */
nav ul {
    list-style-type: none;
    display: flex;
    margin-left: auto; /* Verschiebt die Navigation nach rechts */
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #575757;
    border-radius: 5px;
}
